*{
    margin: 0;
    padding: 0;
}

.wrapper1{
    background-color:#062134 ;
    width: 970px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}


.top_bar{
    display: flex ;
    justify-content: space-between;
    align-items: center;    
    color: #F9F9FA;
    height: 100px;
   

}

.top_left_bar,
.top_right_bar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    

}

.top_left_bar{
    margin-left: 10px;
    font-size: 50px;
}

.top_right_bar{
    margin-right: 10px;
}

.top_left_bar p,
.top_right_bar p {
    margin: 10px;
}

.top_left_bar_color{
    color: #167FC1;
}

.top_right_bar_color{
    color: #29587B;
}


.wrapper2{
    background-color: white;
    margin:auto;
    width: 900px;
    padding-left: 10px;
    padding-top:10px;
    padding-right: 10px;
}

.middle_picture{
    margin-bottom: 30px;
    margin-left: 30px;
}

.middle_row,
.middle_bottom_row{
    display: flex;
    justify-content: space-evenly;
}

.box{
    background-color: #1468A8;
    width: 250px;
    height: 250px;
    color: white;
    padding: 20px;
}

.picture{
    width: 40px;
    height: 40px;
}

.box_top_bar{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}


.more_info{
    margin-top: 10px;
    background-color: #2E9FE5;
    height: 25px;
    width: 100px;
    padding: 10px;
}

.box_1,
.middle_middle_center_box,
.middle_middle_right_box{
    width: 250px;
    height: 250px;
    font-size: small;
    margin-top: 20px;
}

.middle_bottom_row{
    margin-top: 20px;
}

.middle_middle_center_box{
    margin-top: 30px;
    
}

.middle_middle_center_box_color{
    color: #A1BCCF;
}
.middle_middle_center_box p{
    margin-bottom:5px ;
}

.text_box_quote{
    background-color: #DAEDFF;
    width: 230px;
    height: 75px;
    padding: 20px;
    margin-top: 5px;
}




.middle_middle_right_box{
    width: 250px;
    height: 100px;
    font-size: small;
    margin-top: 20px;
}

.quote{
    margin-top: 10px;
}


.bottom_bar{
    height: 40px;
    width: 900px;
    background-color:#DAEDFF ;
    padding-top: 10px;
}

.bottom_bar_tabs{
    display: flex;
    justify-content: center;
    align-items: baseline;
    
}

.bottom_bar_tabs p{
    margin-right: 10px;
}